[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
cryptography = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
