{% extends "base.html" %}
{% load tz %}
{% load static %}

{% block title %}Check-ins{% endblock %}

{% block content %}
<div class="container" style="text-align: center; width: 60%;">
<h1>Past Checkins</h1>
<div class="list-group" style="text-align: left;">
  {% for l in locations %}
  <a  href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ l.name }}</h5>
      <small>{{ l.created|timezone:"Asia/Singapore"|date:"D d M Y H:i" }}</small>
    </div>
    <p class="mb-1">{{ l.address }}</p>
  </a>
  {% endfor %}
</div>
{% if locations|length == 50 %}
<button type="button" href="{% url 'webapp.checkins' %}?next={{next_count}}" class="btn btn-outline-primary">Next</button>
{% endif %}
</div>
{% endblock %}
