{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <title>Check-ins</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  </head>

  <h1>Check ins</h1>

  <button id = "find-me">Show my location</button><br/>
  <a style="display: block; margin: 10px;" id="status"></a>
  <a id = "map-link" target="_blank"></a>

  <div id="map" style="display: block; width: 50%; height: 50%;"></div>
  <script type="text/javascript" src="{% static 'webapp/index.js' %}"></script>
</html>
