{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'webapp/css/leaflet.css' %}" />
<script src="{% static 'webapp/leaflet.js' %}"></script>
{% endblock %}
{% block title %}Check-ins{% endblock %}

{% block content %}
<div class="container">
  {% if checkedin %}
    <div class="alert alert-success" role="alert">
      Checked-in successfully.
    </div>
  {% endif %}
  <button type="button" class="btn btn-outline-primary" id = "find-me">Show my location</button>
  <br /><br />
  <input id="query" type="text" placeholder="Name of Place (Optional)" />
  <a style="display: block; margin: 10px;" id="status"></a>
  <a class="btn btn-success" id="map-link" style="display: none;"></a>
  <div class="container map">
    <hr />
    <div id="map" style="display: block; width: 100%; height: 100%;"></div>
  </div>
</div>
<script type="text/javascript" src="{% static 'webapp/index.js' %}"></script>
{% endblock %}
